<!--
<div *ngIf="article">
    <h2>{{ article.name | uppercase }} Details</h2>
    <div><span>id: </span>{{article.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="article.content" placeholder="name"/>
      </label>
    </div>
    <button (click)="goBack()">go back</button>
</div>
-->


<div id="article_details" class="details"  *ngIf="article">
  <div class="article_title">   
       <span class=""></span>
    <h1>
      <span class="link_title"><a href="">{{article.title}}</a></span>
    </h1>
  </div>

  <div class="article_manage">
    <div class="article_r">
        <span class="link_postdate">{{article.data}} {{article.time}}</span>
    </div>
  </div>
  
  <div id="article_content" class="article_content" data-mod="popu_307" data-dsm="post" 
  [innerHTML]="html" [style]="html">
      
      <span> {{html}} </span>
  </div>
</div>