<div class="panel" id="panel_Search">
    <ul class="panel_head">
        <span>文章搜索</span>
    </ul>
    <ul class="panel_body">
        <form id="frmSearch" action="http://so.csdn.net/search" class="form_search csdn-tracking-statistics" target="_blank" data-mod="popu_306">
            <span>
                <input id="inputSearch" type="text" class="blogsearch" title="请输入关键字">
            </span>
            <input id="btnSubmit" type="button" value="搜索" title="search in blog">
            <input type="hidden" name="q" id="inputQ">
            <input type="hidden" name="t" value="blog">
            <a id="btnSearchBlog" target="_blank"></a>
        </form>
    </ul>
</div>