<div id="panel_Category" class="panel">
    <ul class="panel_head">
        <span>文章分类</span>
    </ul>
    <ul class="panel_body">
        <li>
            <a>图像处理</a>
            <span>(6)</span>
        </li>
        <li>
            <a href>java</a>
            <span>(2)</span>
        </li>
        <li>
            <a>web开发</a>
            <span>(1)</span>
        </li>
        <li>
            <a>操作系统</a>
            <span>(4)</span>
        </li>
        <li>
            <a>离散数学</a>
            <span>(1)</span>
        </li>
        <li>
            <a>算法</a>
            <span>(10)</span>
        </li>
    </ul>
</div>