<div id="panel_Profile" class="panel">
    <ul class="panel_head">
        <span>个人资料</span>
    </ul>
    <ul class="profile">
        <div id="blog_userface">
            <a href="../../index.html" target="_blank">
                <img [src]="ICON" title="访问我的空间" style="max-width:90%">
            </a>
            <br>
            <span>
                <a href="../../index.html" class="user_name" target="_blank">谭港</a>
            </span>
        </div>
        <div id="blog_medal">
            <div id="bms_box">
            </div>
        </div>
        <ul id="blog_rank">
            <li>学校：
                <span>天津大学</span>
            </li>
            <li>专业：
                <span>软件工程</span>
            </li>
            <li>邮箱：
                <span>xxxx@tju.edu.cn</span>
            </li>
            <!--<li>
                <span></span>
            </li>-->
        </ul>
        <ul id="blog_statistics">
            <li>个人履历
                <span>xxx</span>
            </li>
            <li>xxx
                <span>xxx</span>
            </li>
            <li>xxx
                <span>xxx</span>
            </li>
            <li>xxx
                <span>xxx</span>
            </li>
        </ul>
    </ul>
</div>
